<%= render "shared/header_login" %>

<div class="account-container">

    <div class="account-main">
        <%= render "shared/mypage" %>

        <h3 class="title-account">プロフィール</h3>

        <%= form_with model: @user ,html: { multipart: true } do |f| %>
            <div class="account-info-email">
                <p class="label-email">アイコン画像</p>
                <p class="result-email"><%= f.file_field :avatar %></p>
            </div>

            <div class="account-info-password">
                <p class="label-password">名前</p>
                <p class="result-password"><%= f.text_field :name %></p>
            </div>

            <div class="account-info-password">
                <p class="label-password">自己紹介</p>
                <p class="result-password"><%= f.text_area :introduce %></p>
            </div>

            <%= f.submit "編集を完了する" %>

        <% end %>

    </div>
</div>